@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #1d1d1b;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #ffffff;
    --foreground: #1d1d1b;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}
